In [12]:
# Import the required libraries and dependencies
import numpy as np
import pandas as pd
import hvplot.pandas
from pathlib import Path

In [13]:
import os
import requests
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

%matplotlib inline

In [14]:
# Load .env environment variables
load_dotenv('keys.txt')

True

In [15]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Verify that Alpaca key and secret were correctly loaded
print(f"Alpaca Key type: {type(alpaca_api_key)}")
print(f"Alpaca Secret Key type: {type(alpaca_secret_key)}")

Alpaca Key type: <class 'str'>
Alpaca Secret Key type: <class 'str'>

In [16]:
# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [17]:
# Format current date as ISO format
today = pd.Timestamp("2022-07-14-", tz="America/New_York").isoformat()

end = pd.Timestamp("2023-05-04-", tz="America/New_York").isoformat()

In [18]:
# Set the tickers
tickers = ["F"]

# Set timeframe to one day ("1Day") for the Alpaca API
timeframe = "1Day"

In [19]:
# Get closing prices
signals_df = alpaca.get_bars(
    tickers,
    timeframe,
    start = today,
    end = end
).df

# Display sample data
signals_df.head(10)

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2022-07-14 04:00:00+00:00,11.22,11.40,11.14,11.39,47805500,105855,11.286667,F
2022-07-15 04:00:00+00:00,11.58,11.90,11.49,11.88,48974880,108108,11.748675,F
2022-07-18 04:00:00+00:00,12.15,12.25,11.90,11.96,45658452,104528,12.078424,F
2022-07-19 04:00:00+00:00,12.22,12.69,12.21,12.59,62493937,140629,12.554154,F
2022-07-20 04:00:00+00:00,12.60,12.82,12.51,12.73,51513591,118019,12.668257,F
2022-07-21 04:00:00+00:00,12.88,13.00,12.63,13.00,66749405,147008,12.839001,F
2022-07-22 04:00:00+00:00,13.10,13.14,12.72,12.82,46453757,105958,12.859837,F
2022-07-25 04:00:00+00:00,12.85,12.99,12.60,12.84,36572762,94658,12.841455,F
2022-07-26 04:00:00+00:00,12.68,12.76,12.46,12.54,49117382,113951,12.605667,F
2022-07-27 04:00:00+00:00,12.75,13.19,12.63,13.19,64023615,163554,13.134656,F

In [20]:
F = signals_df[signals_df['symbol']=='F'].drop('symbol', axis=1)

F

,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,
2022-07-14 04:00:00+00:00,11.220,11.40,11.14,11.39,47805500,105855,11.286667
2022-07-15 04:00:00+00:00,11.580,11.90,11.49,11.88,48974880,108108,11.748675
2022-07-18 04:00:00+00:00,12.150,12.25,11.90,11.96,45658452,104528,12.078424
2022-07-19 04:00:00+00:00,12.220,12.69,12.21,12.59,62493937,140629,12.554154
2022-07-20 04:00:00+00:00,12.600,12.82,12.51,12.73,51513591,118019,12.668257
...,...,...,...,...,...,...,...
2023-04-28 04:00:00+00:00,11.590,11.94,11.57,11.88,53762990,124772,11.841234
2023-05-01 04:00:00+00:00,12.005,12.29,11.99,12.06,59864850,134635,12.095316
2023-05-02 04:00:00+00:00,12.050,12.09,11.66,11.80,91405285,206655,11.775564
2023-05-03 04:00:00+00:00,11.740,12.09,11.73,11.79,94137717,219109,11.906840
2023-05-04 04:00:00+00:00,11.800,11.83,11.47,11.56,79792934,177656,11.586022

In [21]:
# Create and empty DataFrame for closing prices
df_closing_prices = pd.DataFrame()

# Fetch the closing prices of FB and TWTR
df_closing_prices["F"] = F["close"]

# Drop the time component of the date
df_closing_prices.index = df_closing_prices.index.date

# Display sample data
df_closing_prices.head(10)

                F
2022-07-14  11.39
2022-07-15  11.88
2022-07-18  11.96
2022-07-19  12.59
2022-07-20  12.73
2022-07-21  13.00
2022-07-22  12.82
2022-07-25  12.84
2022-07-26  12.54
2022-07-27  13.19

In [22]:
df_closing_prices.to_csv('close.csv', index=True)